.tasks {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 36px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
}